<%= form_for(@addcousine) do |f| %>
  <% if @addcousine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addcousine.errors.count, "error") %> prohibited this addcousine from being saved:</h2>

      <ul>
      <% @addcousine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cousinename %><br />
    <%= f.text_field :cousinename %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :availabletime %><br />
    <%= f.datetime_select :availabletime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
